* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.parent {
    background-color: #23424a;
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
}

.child {
    background-color: #38cfd9;
    /* width: 750px; */
    width: 50%;
    height: 250px;
}